<div class="sidebar">
    <ul>
      <li>
        <a routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon> 
        </a>
      </li>
      <li>
        <a routerLink="/tracking">
            <mat-icon>local_shipping</mat-icon> 
          </a>
      </li>
      <li>
        <a routerLink="/reports">
          <mat-icon>insert_drive_file</mat-icon> 
        </a>
      </li>
      <li>
        <a routerLink="/settings">
          <mat-icon>settings</mat-icon> 
        </a>
      </li>
    </ul>
  </div>
  